# Application Configuration
PORT=8080
JWT_SECRET=super-secret-key-development-only

# Database Configuration
# Format: user:password@tcp(address:port)/dbname?params
# Ensure parseTime=true is present for DATETIME variables -> time.Time scanning
DATABASE_URL=root:root@tcp(127.0.0.1:3306)/kontrak_matkul?parseTime=true&charset=utf8mb4
